//color for text
$color-text-wihte: #ffffff;
$color-text-gold: #cdb378;
$color-text-green-light: #b4ba98;
$color-text-green-dark: #1a1c0f;

//color for button
$color-botton-green-ligth: #404429;
$color-botton-green-dark: #272a18;

//color for bg
$color-bg-green-dark: #1a1c0f;
$color-bg-green-light: #232615;
