//Подключение дополнительной библиотеки
@import "../../node_modules/normalize.scss/normalize";


//Подключение своих шрифтов
@import "global/fonts";
//Палитра цветов проекта
@import "global/colors";
//Миксины проекта
@import "global/mixins";


*{
    margin: 0;
    padding: 0;
}

*
*::before, *::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
}

body{
    font-size: 1rem;
    line-height: 1.2;
}

ul,
ol{
    list-style: none;
}

.container{
    max-width: 1570px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}

@import "moduls/header";
@import "moduls/footer";
