//Подключение дополнительной библиотеки
@import "../../node_modules/normalize.scss/normalize";


//Подключение своих шрифтов
@import "global/fonts";
//Палитра цветов проекта
@import "global/colors";
//Миксины проекта
@import "global/mixins";


*{
    margin: 0;
    padding: 0;
}

*
*::before, *::after{
    box-sizing: inherit;
}

html{
    box-sizing: border-box;
}

body{
    font-size: 1rem;
    line-height: 1.2;
    background-color: $color-bg-green-dark;
}

ul,
ol{
    list-style: none;
}

.container{
    max-width: 1570px;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
}
.botton{
    &__check-more{
        background: $color_botton_green_dark;
        border: $color_botton_green_ligth 1px solid;
        padding: 10px 50px;
        text-transform: uppercase;
        color: $color_text_wihte;
        font-family: $ff-text-regular;
        font-size: 1rem;
    }
}

@import "moduls/header";
@import "moduls/brewing";
@import "moduls/original";
@import "moduls/footer";
