section.brewing
    .brewing__block-text
        h2.brewing__heading The joy of brewing
        p.brewing__text
            | We develop recipes, imported raw materials, experiment, and spills brew beer in the friendly breweries.
    .brewing__img
        img(src="images/photo_man_with_bottle.jpg" alt="Фотография с человеком и бутылкой пива")
