section.original
    .container
        .original__block-text
            h2.original__heading Zeus - Original Quality
            p.original__text
                | This fancy beer in the style of American India Pale Ale. Red-copper-bodied, with citrus flavor and aroma, floral, resin, pine and fruit derived from American hops.
            button.button.botton__check-more check more
        .original__img
            img(src="images/Beer.png" alt="Бутылка пива")
